@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);

html,
body {
  padding: 0;
  margin: 8px;
  font-family: Inter, Sans-Serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #ffffff;
    background: hsla(238, 12%, 11%, 1);
  }
}
